# NOAA Pipeline Buoy Data

## Imports

In [1]:
import pandas as pd
import numpy as np

## NOAA raw data

In [6]:
pd.read_csv(
    "https://www.ndbc.noaa.gov/view_text_file.php?filename=51201h2008.txt.gz&dir=data/historical/stdmet/",
    sep=" ",
    skiprows=[1]
)

,#YY,Unnamed: 1,MM,DD,hh,mm,WDIR,WSPD,GST,Unnamed: 9,...,Unnamed: 21,ATMP,Unnamed: 23,WTMP,Unnamed: 25,DEWP,Unnamed: 27,VIS,Unnamed: 29,TIDE
0,2008,1,1,0,0,999,99.0,99.0,NaN,2.10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2008,1,1,1,0,999,99.0,99.0,NaN,2.50,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2008,1,1,2,0,999,99.0,99.0,NaN,2.50,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2008,1,1,3,0,999,99.0,99.0,NaN,2.80,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2008,1,1,4,0,999,99.0,99.0,NaN,2.90,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13020,2008,12,31,21,49,999,99.0,99.0,NaN,1.67,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13021,2008,12,31,22,19,999,99.0,99.0,NaN,1.61,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13022,2008,12,31,22,49,999,99.0,99.0,NaN,1.57,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13023,2008,12,31,23,19,999,99.0,99.0,NaN,1.55,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13024,2008,12,31,23,49,999,99.0,99.0,NaN,1.68,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN